"*":
  "atom-terminal": {}
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      "metrics"
      "language-csharp"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      "CVS"
      ".DS_Store"
      "node_modules"
      ".sass-cache"
      "tmp"
      "apigen"
    ]
    themes: [
      "seti-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Droid Sans Mono"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "e0668759-f5eb-25f0-214d-5264c6ec057c"
  linter:
    ignoreVCSIgnoredFiles: false
  "linter-jshint": {}
  "linter-php":
    phpExecutablePath: "/usr/bin/php"
  "seti-ui":
    compactView: true
    themeColor: "Steel"
  "spell-check": {}
  "tree-ignore": {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".ini.source":
  editor:
    softWrap: true
